# Pandas Problem Set

In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statistics

In [42]:
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics2020/Data_Public/master/NotebookExampleData/Week1/diabetes.csv"
names = ['preg', 'plas', 'pres', 'skin', 'test', 'mass', 'pedi', 'age', 'class']

Read in csv above to a pandas dataframe

In [16]:
data = pd.read_csv(url, names = names)

Print out the age and class of the 100th patient

In [29]:
print(data.iloc[99,7:9])

age      31.0
class     1.0
Name: 99, dtype: float64

Write code to figure out how many people are classified as not having diabetes, class is 0

In [30]:
count = 0
filtered = data["class"] == 0
for val in filtered:
  if val == 0:
    count+=1
print(count)

268

Write code to figure out how many people are classified as having diabetes, class is 1

In [36]:
print(data.shape[0]-count)

500

What percent of people have diabetes in the study

In [39]:
print(100*(data.shape[0]-count)/data.shape[0])

65.10416666666667

Print out the pressure and class (no other columns) for the first 5 people (hint: this was not shown in our tutorial google how to select multiple columns with loc)

Being able to effectively google is a very important coding tool ¯\\\_(ツ)_/¯

In [59]:
print(data.head())
print(data.iloc[0:5,[2,8]])

   preg  plas  pres  skin  test  mass   pedi  age  class
0     6   148    72    35     0  33.6  0.627   50      1
1     1    85    66    29     0  26.6  0.351   31      0
2     8   183    64     0     0  23.3  0.672   32      1
3     1    89    66    23    94  28.1  0.167   21      0
4     0   137    40    35   168  43.1  2.288   33      1
   pres  class
0    72      1
1    66      0
2    64      1
3    66      0
4    40      1

Run the cell below, it will print out the correlation among the columns

In [60]:
data.corr()

           preg      plas      pres  ...      pedi       age     class
preg   1.000000  0.129459  0.141282  ... -0.033523  0.544341  0.221898
plas   0.129459  1.000000  0.152590  ...  0.137337  0.263514  0.466581
pres   0.141282  0.152590  1.000000  ...  0.041265  0.239528  0.065068
skin  -0.081672  0.057328  0.207371  ...  0.183928 -0.113970  0.074752
test  -0.073535  0.331357  0.088933  ...  0.185071 -0.042163  0.130548
mass   0.017683  0.221071  0.281805  ...  0.140647  0.036242  0.292695
pedi  -0.033523  0.137337  0.041265  ...  1.000000  0.033561  0.173844
age    0.544341  0.263514  0.239528  ...  0.033561  1.000000  0.238356
class  0.221898  0.466581  0.065068  ...  0.173844  0.238356  1.000000

[9 rows x 9 columns]

What column has the highest correlation with class? Find the mean() value of that column

In [87]:
import statistics
me = statistics.mean(data.iloc[:,1])
print(me)

0      148
1       85
2      183
3       89
4      137
      ...
763    101
764    122
765    121
766    126
767     93
Name: plas, Length: 768, dtype: int64
120.89453125

Create a new dataframe with only people that are above the mean found above

In [88]:
databool = data["plas"] > me
filteredata = data[databool]
print(filteredata)

     preg  plas  pres  skin  test  mass   pedi  age  class
0       6   148    72    35     0  33.6  0.627   50      1
2       8   183    64     0     0  23.3  0.672   32      1
4       0   137    40    35   168  43.1  2.288   33      1
8       2   197    70    45   543  30.5  0.158   53      1
9       8   125    96     0     0   0.0  0.232   54      1
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
759     6   190    92     0     0  35.5  0.278   66      1
761     9   170    74    31     0  44.0  0.403   43      1
764     2   122    70    27     0  36.8  0.340   27      0
765     5   121    72    23   112  26.2  0.245   30      0
766     1   126    60     0     0  30.1  0.349   47      1

[349 rows x 9 columns]

Create a new dataframe that only includes people who are above the average value for each column in the dataset (except 'class'). In other words, find the average value for each column, and then find which users have values above all of these average column values

In [124]:
ex = data.mean(axis = 0)
data2 = data[(data.iloc[:,0]>ex.iloc[0]) & (data.iloc[:,1]>ex.iloc[1]) & (data.iloc[:,2]>ex.iloc[2]) & (data.iloc[:,3]>ex.iloc[3]) & (data.iloc[:,4]>ex.iloc[4]) & (data.iloc[:,5]>ex.iloc[5]) & (data.iloc[:,6]>ex.iloc[6]) & (data.iloc[:,7]>ex.iloc[7])]
print(data2)

     preg  plas  pres  skin  test  mass   pedi  age  class
43      9   171   110    24   240  45.4  0.721   54      1
152     9   156    86    28   155  34.3  1.189   42      1
159    17   163    72    41   114  40.9  0.817   47      1
175     8   179    72    42   130  32.7  0.719   36      1
206     8   196    76    29   280  37.5  0.605   57      1
215    12   151    70    40   271  41.8  0.742   38      1
236     7   181    84    21   192  35.9  0.586   51      1
259    11   155    76    28   150  33.3  1.353   51      1
286     5   155    84    44   545  38.7  0.619   34      0
375    12   140    82    43   325  39.2  0.528   58      1
424     8   151    78    32   210  42.9  0.516   36      1
458    10   148    84    48   237  37.6  1.001   51      1
546     5   187    76    27   207  43.6  1.034   53      1
594     6   123    72    45   230  33.6  0.733   34      0
603     7   150    78    29   126  35.2  0.692   54      1
612     7   168    88    42   321  38.2  0.787   40      1
614    11   138    74    26   144  36.1  0.557   50      1
663     9   145    80    46   130  37.9  0.637   40      1
744    13   153    88    37   140  40.6  1.174   39      0

Ignoring the index (resetting the index to 0), sort the values based on "skin", "test", and "pedi" values in ascending order. Please write this in one line.

In [125]:
print(data.sort_values(by = ["skin", "test", "pedi"], ascending = True))

     preg  plas  pres  skin  test  mass   pedi  age  class
268     0   102    52     0     0  25.1  0.078   21      0
180     6    87    80     0     0  23.2  0.084   32      0
598     1   173    74     0     0  36.8  0.088   38      1
81      2    74     0     0     0   0.0  0.102   22      0
430     2    99     0     0     0  22.2  0.108   23      0
..    ...   ...   ...   ...   ...   ...    ...  ...    ...
211     0   147    85    54     0  42.8  0.375   24      0
120     0   162    76    56   100  53.2  0.759   25      1
57      0   100    88    60   110  46.8  0.962   31      0
445     0   180    78    63    14  59.4  2.420   25      1
579     2   197    70    99     0  34.7  0.575   62      1

[768 rows x 9 columns]

Notice that there are some repeats in values (like in the age and the preg column).

Now Let's find the 4 largest values for "age" and "mass". Reference the pandas documentation (https://pandas.pydata.org/docs/) if you are stuck!

In [128]:
print(data["age"].nlargest(n=4))
print(data["mass"].nlargest(n=4))

459    81
453    72
666    70
123    69
Name: age, dtype: int64
177    67.1
445    59.4
673    57.3
125    55.0
Name: mass, dtype: float64

Now find the smallest 4 values for "plas" and "preg" in reverse order (largest to smallest). Please refer to the API documentation if you are stuck-- https://pandas.pydata.org/pandas-docs/stable/reference/index.html

In [130]:
print(data["plas"].nsmallest(n=4).iloc[::-1])
print(data["preg"].nsmallest(n=4).iloc[::-1])

349    0
342    0
182    0
75     0
Name: plas, dtype: int64
57    0
45    0
16    0
4     0
Name: preg, dtype: int64